<launch>
    <!-- Include main_publisher.launch -->
    <include file="$(find perception_bolide)/launch/perception.launch"/>

    <!-- Launch the speed_direction_control node -->
    <node pkg="control_bolide" type="speed_direction_controller.py" name="speed_direction_controller" output="screen" />
</launch>